# Carpetas restringidas de semestres anteriores
/Ciclo-2024-Segundo-Semestre/ @Cococys
/Ciclo-2025-Primer-Semestre/ @Cococys
/Ciclo-2025-Segundo-Semestre/ @Cococys
/Ciclo-2026-Primer-Semestre/ @Cococys


# Carpeta del semestre en curso
/Ciclo-2026-Segundo-Semestre/Ejemplos/ @CococysLabs/Team_972_Inteligencia-Artificial-1
